/* #Fonts
================================================== */
@font-face{
	font-family: 'spacer';
	font-weight: 400;
	font-style: normal;
	src: url('../font/spacer-regular.ttf');
}

@font-face{
	font-family: 'spacer';
	font-weight: 700;
	font-style: normal;
	src: url('../font/spacer-bold.ttf');
}

@font-face{
	font-family: 'spacer';
	font-weight: 900;
	font-style: normal;
	src: url('../font/spacer-black.ttf');
}

@font-face{
	font-family: 'gotham';
	font-style: normal;
	src: url('../font/GothamBold.ttf');
}

/* #Global
================================================== */
body {
  font-family: 'spacer', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  max-width: 100%;

  padding-top: 3.17vw;
}

@media (max-width: 1023.98px) {
  body {
    padding-top: 13vw;
  }
}

body.no-scroll {
  overflow: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img,
video,
picture {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea,
button {
  font-family: inherit;
}

/* #Utilities
================================================== */
.container {
  margin: 0 auto;
}

.d-desktop {
  display: block !important;
}

.d-mobile {
  display: none !important;
}

.d-block {
  display: block!important;
}

@media (max-width: 1023.98px) {
  .d-desktop {
    display: none !important;
  }

  .d-mobile {
    display: block !important;
  }

  .d-none-mobile {
    display: none !important;
  }
}

.text-center {
  text-align: center!important;
}

/* Vue Animation - Fade */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* Vue Animation - Width */
.width-enter-active, .width-leave-active {
  transition: width .5s ease, margin .5s ease;
}

.width-enter, .width-leave-to {
  width: 0;
}

/* #Typography
================================================== */
/* Font Desktop (f-d) */
.f-d-1 {
  font-size: 1.04vw!important; /* 20px */
}

.f-d-2 {
  font-size: 1.3vw!important; /* 25px */
}

.f-d-3 {
  font-size: 1.56vw!important; /* 30px */
}

.f-d-4 {
  font-size: 1.82vw!important; /* 35px */
}

.f-d-5 {
  font-size: 2.35vw!important; /* 45px */
}

.f-d-6 {
  font-size: 2.6vw!important; /* 50px */
}

.f-d-7 {
  font-size: 2.86vw!important; /* 55px */
}

.f-d-8 {
  font-size: 3.38vw!important; /* 65px */
}

/* Font Mobile (f-m) */
@media (max-width: 1023.98px) {
  .f-m-1 {
    font-size: 2.66vw!important; /* 20px */
  }
  
  .f-m-2 {
    font-size: 3.33vw!important; /* 25px */
  }
  
  .f-m-3 {
    font-size: 4vw!important; /* 30px */
  }
  
  .f-m-4 {
    font-size: 4.66vw!important; /* 35px */
  }
  
  .f-m-5 {
    font-size: 6vw!important; /* 45px */
  }
  
  .f-m-6 {
    font-size: 6.66vw!important; /* 50px */
  }
  
  .f-m-7 {
    font-size: 7.33vw!important; /* 55px */
  }
  
  .f-m-8 {
    font-size: 8.66vw!important; /* 65px */
  }
}

.regular {
  font-weight: 400 !important;
}

.bold {
  font-weight: 700 !important;
}

.black {
  font-weight: 900 !important;
}

.gotham {
  font-family: 'gotham'!important;
}

.text-red {
  color: #d72627!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

/* #Buttons & Links
================================================== */
.btn {
  font-size: 1.56vw!important; /* 30px */
  padding: .5vw .8vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  line-height: 1;
  border: 1px solid transparent;
  transition: background-color .3s ease, color .3s ease, border .3s ease;
}

.btn-primary {
  color: white;
  border-radius: .5vw;
  position: relative;
  background-color: #7ea414;
}

.btn-primary::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: all .3s ease;
  background-color: #8bac2a;
}

.btn-primary.light {
  background-color: #8ac03f;
}

.btn-primary.light::after {
  background-color: #98c552;
}

.btn-secondary {
  background-image: url('../img/global/zero-btn.png');
  background-position: center;
  background-size: 100% 100%;
  color: white;
  font-weight: 700;
}

.btn-tertiary {
  background-image: url('../img/global/classic-btn.png');
  background-position: center;
  background-size: 100% 100%;
  color: white;
  font-weight: 700;
}

.btn-quintary {
  color: #eb2d2e;
  background-color: white;
  font-weight: bold;
  position: relative;
}

.btn-quintary.success {
  color: white;
  background-color: #7ea414;
}

.btn-quintary::after {
  content: '';
  position: absolute;
  background-color: #8bac2a;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: all .3s ease;
  opacity: 0;
  visibility: hidden;
}

.btn-quintary.success::after {
  opacity: 1;
  visibility: visible;
}

.btn.border {
  border-color: #9e9e9e;
}

.btn.shadow {
  box-shadow: 0 3px 10px rgba(0,0,0,.3);
}

@media (max-width: 1023.98px) {
  .btn,
  .btn.btn-small {
    font-size: 4.66vw!important; /* 35px */
    padding: 2vw 2vw;
  }

  .btn-primary {
    border-radius: 1.33vw;
  }

  .btn.btn-lg {
    font-size: 5.33vw!important; /* 40px */
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.header .container {
  max-width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.header-hamburger {
  margin-left: 1.56vw;
}

.header-logo {
  padding: .25vw 0;
  display: flex;
  align-items: center;
}

.header-logo a {
  display: inline-block;
}

.header-logo img {
  width: 5.78vw;
}

.header-hamburger img {
  width: 1.45vw;
}

.header-links ul {
  display: flex;
  height: 100%;
}

.header-links ul li {
  height: 100%;
}

.header-links ul li:not(:last-child) {
  margin-left: 1.45vw;
}

.header-links ul a {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.2vw solid transparent;
  transition: border .3s ease;
}

.header-links ul a:hover,
.header-links ul a.active {
  border-color: #eb2a2e;
}

.header-wheelchair {
  margin-left: 1vw;
}

.header-wheelchair img {
  width: 1.09vw;
}

@media (max-width: 1023.98px) {
  .header .container {
    max-width: 92%;
    padding: 1.7vw 0;
    align-items: center;
  }

  .header-logo img {
    width: 21vw;
  }

  .header-hamburger {
    margin-left: 0;
  }
  
  .header-hamburger img {
    width: 7.2vw;
  }

  .header-wheelchair {
    margin-left: 4vw;
  }

  .header-wheelchair img {
    width: 5vw;
  }

  .header-links {
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc(100% - 13vw);
    width: 70%;
    padding-top: 6vw;
    padding-right: 4vw;
    background-color: white;
    transform: translateX(100%);
    transition: all .3s ease;
  }

  .header.show-menu .header-links {
    transform: translateX(0);
  }

  .header-links ul {
    display: block;
    height: auto;
  }

  .header-links ul li {
    height: auto;
    width: auto;
  }

  .header-links ul li:not(:last-child) {
    margin-left: 0;
    margin-bottom: 3vw;
  }
  
  .header-links ul a {
    height: auto;
    display: inline-flex;
    border-bottom: none!important;
    transition: all .3s ease;
  }

  .header-links ul a.active {
    color: #eb2a2e;
  }
}

/* #Home Banner
================================================== */
.home-banner {
  color: white;
  position: relative;
}

.home-banner .text {
  position: absolute;
  bottom: 1.5%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.home-banner h1 {
  line-height: 1;
}

.home-banner p {
  line-height: 1.2;
}

.home-banner a {
  margin: 4.7vw 0 9.2vw 0;
}

.home-banner picture,
.home-banner picture img {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .home-banner .text {
    width: 100%;
    bottom: 7%;
  }

  .home-banner a {
    margin: 13vw 0 30vw 1.25vw;
  }
}

/* #Home Virtual Tour
================================================== */
.home-virtual-tour {
  position: relative;
  overflow: hidden;
}

.home-virtual-tour .machines {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 55%;
}

.home-virtual-tour .machines img {
  width: 25.5vw;
}

.home-virtual-tour .classic,
.home-virtual-tour .zero {
  position: relative;
  margin: 0 2.2vw;
  transition: all .5s ease;
}

.home-virtual-tour .classic {
  margin-left: auto;
  margin-right: 0;
}

.home-virtual-tour.classic-active .classic {
  margin-right: 7.3vw;
}

.home-virtual-tour .zero {
  margin-right: auto;
  margin-left: 0;
}

.home-virtual-tour.zero-active .zero {
  margin-left: 7.3vw;
}

.home-virtual-tour .zero-btns {
  position: absolute;
  top: 65%;
  left: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-virtual-tour .zero-btns > *:first-child {
  margin-left: 1vw;
}

.home-virtual-tour .classic-btns {
  position: absolute;
  top: 65%;
  right: 70%;
  width: 120%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.home-virtual-tour .classic-btns > *:first-child {
  margin-left: .5vw;
  margin-bottom: .5vw;
}

.home-virtual-tour .machines-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-virtual-tour .machines-btns > *:first-child {
  margin-left: 1vw;
}

.home-virtual-tour .machines-btns > * {
  width: 10.5vw;
}

.home-virtual-tour .machines-btns img {
  width: 100%;
  border-radius: .5vw;
}

.home-virtual-tour .text {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}

.home-virtual-tour picture,
.home-virtual-tour picture img {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .home-virtual-tour .machines {
    width: 200%;
  }
  
  .home-virtual-tour .machines img {
    width: 65.3vw;
  }

  .home-virtual-tour .machines-btns {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .home-virtual-tour .machines-btns > *:first-child {
    margin-left: 2.5vw;
  }
  
  .home-virtual-tour .machines-btns > * {
    width: 26.6vw;
  }

  .home-virtual-tour .machines-btns img {
    border-radius: 1.33vw;
  }

  .home-virtual-tour .text {
    top: 7%;
  }

  .home-virtual-tour .classic {
    margin-left: auto;
    margin-right: 30vw;
  }
  
  .home-virtual-tour.zero-active .classic {
    margin-right: 0;
  }

  .home-virtual-tour.classic-active .classic {
    margin-right: 50vw;
  }
  
  .home-virtual-tour .zero {
    margin-right: auto;
    margin-left: 30vw;
  }

  .home-virtual-tour.classic-active .zero {
    margin-left: 0;
  }
  
  .home-virtual-tour.zero-active .zero {
    margin-left: 50vw;
  }

  .home-virtual-tour .zero-btns,
  .home-virtual-tour .classic-btns {
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-virtual-tour .classic-btns > *:not(:last-child),
  .home-virtual-tour .zero-btns > *:not(:last-child) {
    margin-left: 0;
    margin-bottom: 1vw;
  }
}

/* #Home Timeline
================================================== */
.home-timeline {
  position: relative;
  color: white;
}

.home-timeline .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-timeline h2 {
  border-top: 0.2vw solid white;
  border-bottom: 0.2vw solid white;
  line-height: 1.6;
  margin: .75vw 0 0 0;
}

.home-timeline .text img {
  margin: 1.55vw 0 1.2vw 0;
  width: 5.5vw;
}

.home-timeline a {
  margin-top: 1.2vw;
}

@media (max-width: 1023.98px) {
  .home-timeline .text {
    width: 100%;
  }

  .home-timeline h2 {
    border-top: 0.53vw solid white;
    border-bottom: 0.53vw solid white;
    margin: 3vw 0 0 0;
  }
  
  .home-timeline .text img {
    margin: 7vw 0 6vw 0;
    width: 22vw;
  }
  
  .home-timeline a {
    margin-top: 6vw;
  }
}

/* #Home Trivia
================================================== */
.home-trivia {
  position: relative;
}

.home-trivia .text {
  position: absolute;
  left: 50%;
  bottom: 7%;
  color: white;
  text-align: center;
  transform: translateX(-50%);
}

.home-trivia h2 {
  line-height: 1;
}

.home-trivia a {
  margin-top: .75vw;
}

@media (max-width: 1023.98px) {
  .home-trivia .text {
    bottom: 10%;
  }

  .home-trivia a {
    margin-top: 3vw;
  }
}

/* #Home Post Card
================================================== */
.home-post-card {
  position: relative;
}

.home-post-card .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  height: 78%;
  padding-top: .5vw;
}

@media (max-width: 1023.98px) {
  .home-post-card .text {
    padding-top: 1.5vw;
  }
}

/* #Home Footer
================================================== */
.home-footer {
  background-image: url('../img/home/home-footer-bg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 1.3vw 0 2.3vw 0;
  text-align: center;
}

.home-footer p {
  margin-bottom: 1.3vw;
}

.home-footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-footer ul li:not(:last-child) {
  margin-left: 1.8vw;
}

.home-footer ul img {
  width: 3vw;
  height: 3vw;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .home-footer {
    padding: 6vw 0;
  }

  .home-footer p {
    margin-bottom: 7vw;
  }

  .home-footer ul li:not(:last-child) {
    margin-left: 8vw;
  }
  
  .home-footer ul img {
    width: 13vw;
    height: 13vw;
  }
}

/* #Virtual Tour Page
================================================== */
.virtual-tour-page {
  min-height: calc(100vh - 3.17vw);
  background-color: #da2728;
  position: relative;
}

.virtual-tour-page .text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 8.6vw;
  left: 0;
  width: 100%;
}

@media (max-width: 1023.98px) {
  .virtual-tour-page {
    min-height: calc(100vh - 13vw);
  }

  .virtual-tour-page .text {
    bottom: 10vw;
  }
}

/* #Timeline Bottles
================================================== */
.timeline-bottles {
  background-image: linear-gradient(to right, #d3262d, #d2232a);
  color: white;
  padding: 1.5vw 0 0 0;
}

.timeline-bottles .container > p,
.timeline-bottles .container > h2 {
  text-align: center;
}

.timeline-bottles .container > h2 {
  margin: .75vw 0 1vw 0;
}

.timeline-bottles .swiper-container {
  cursor: grab;
}

.timeline-bottles .swiper-slide {
  padding: 0 0.65vw;
}

.timeline-bottles .swiper-slide > div {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5vw;
  border-radius: .5vw;
}

.timeline-bottles .swiper-slide img {
  margin-bottom: 1.5vw;
  width: 5.4vw;
}

.timeline-bottles .swiper-slide > img {
  width: 100%;
  margin: 1vw 0 0 0;
}

@media (max-width: 1023.98px) {
  .timeline-bottles {
    padding: 10vw 0 0 0;
  }

  .timeline-bottles .container > h2 {
    margin: 2.5vw 0 5vw 0;
  }

  .timeline-bottles .swiper-slide {
    padding: 0 2vw;
  }

  .timeline-bottles .swiper-slide > div {
    padding: 3.33vw;
    border-radius: 1.3vw;
  }

  .timeline-bottles .swiper-slide img {
    margin-bottom: 3.33vw;
    width: 20vw;
  }
  
  .timeline-bottles .swiper-slide > img {
    width: 100%;
    margin: 4vw 0 0 0;
  }
}

/* #Timeline Years
================================================== */
.timeline-years {
  position: relative;
  overflow: hidden;
}

.timeline-years .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.timeline-years h2 {
  text-align: center;
  margin-bottom: 1.5vw;
}

.timeline-years .swiper-container {
  margin: 0 -0.83vw;
  cursor: grab;
}

.timeline-years .swiper-slide {
  padding: 0 0.83vw;
}

.timeline-years .swiper-slide > div {
  background-color: #eb2d2e;
  color: white;
  border-radius: .5vw;
  padding: 5.2vw .5vw .5vw .5vw;
}

.timeline-years .swiper-slide > img {
  width: 100%;
  margin-top: .5vw;
}

@media (max-width: 1023.98px) {
  .timeline-years {
    margin-bottom: -12vw;
    z-index: 1;
  }

  .timeline-years .container {
    width: 100%;
    padding-right: 4%;
  }

  .timeline-years h2 {
    margin-bottom: 7vw;
  }
  
  .timeline-years .swiper-container {
    margin: 0 -3vw;
  }
  
  .timeline-years .swiper-slide {
    padding: 0 3vw;
  }

  .timeline-years .swiper-slide > div {
    border-radius: 1.3vw;
    padding: 20vw 2.5vw 2.5vw 2.5vw;
  }
  
  .timeline-years .swiper-slide > img {
    width: 100%;
    margin-top: 1.3vw;
  }
}

/* #Timeline History
================================================== */
.timeline-history {
  position: relative;
}

.timeline-history .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
}

.timeline-history ul {
  display: flex;
  flex-direction: column;
}

.timeline-history ul li {
  width: 60%;
  text-align: center;
}

.timeline-history ul li:not(:last-child) {
  margin-bottom: 5vw;
}

.timeline-history ul li:nth-child(even) {
  margin-right: auto;
}

.timeline-history .img img,
.timeline-history .img picture {
  width: 100%;
}

.timeline-history .arrows {
  position: absolute;
  top: 4%;
  left: 50%;
  color: white;
  transform: rotate(-90deg) translateY(-50%);
}

@media (max-width: 1023.98px) {
  .timeline-history .text {
    width: 84%;
  }

  .timeline-history ul li {
    width: 100%;
  }

  .timeline-history ul li:not(:last-child) {
    margin-bottom: 30vw;
  }

  .timeline-history .arrows {
    top: 1%;
  }
}

/* #Timeline Timeline
================================================== */
.timeline-timeline {
  background-image: linear-gradient(to right, #fe3535, #c51f20);
  color: white;
  padding-bottom: 3.125vw;
}

.timeline-timeline .container {
  width: 40%;
}

.timeline-timeline h2 {
  margin-bottom: 3.125vw;
  text-align: center;
  line-height: 1;
}

.timeline-timeline .timeline {
  position: relative;
  max-width: 25vw;
  padding: 1.3vw 0;
}

.timeline-timeline .timeline::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0.26vw;
  background-color: white;
}

.timeline-timeline .timeline li {
  position: relative;
  padding-right: 1.7vw;
}

.timeline-timeline .timeline li::after {
  content: '';
  position: absolute;
  top: .4vw;
  right: 0.13vw;
  height: 2vw;
  width: 2vw;
  background-color: white;
  transform: translateX(50%);
  border-radius: 50%;
}

.timeline-timeline .timeline li:not(:last-child) {
  margin-bottom: 1.1vw;
}

.timeline-timeline .social {
  text-align: center;
  margin-top: 2.35vw;
}

.timeline-timeline .social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .75vw;
}

.timeline-timeline .social ul li:not(:last-child) {
  margin-left: 1vw;
}

.timeline-timeline .social img {
  width: 1.77vw;
  height: 1.77vw;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .timeline-timeline {
    background-image: linear-gradient(to right, #d2232a, #d2232a);
    padding-bottom: 8vw;
  }

  .timeline-timeline .container {
    width: 84%;
  }

  .timeline-timeline h2 {
    margin-bottom: 8vw;
  }

  .timeline-timeline .timeline {
    max-width: 100%;
    padding: 5vw 0;
  }

  .timeline-timeline .timeline::after {
    width: 0.9vw;
  }

  .timeline-timeline .timeline li {
    padding-right: 6.66vw;
  }

  .timeline-timeline .timeline li::after {
    top: 1vw;
    right: 0.45vw;
    height: 7.7vw;
    width: 7.7vw;
  }

  .timeline-timeline .timeline li:not(:last-child) {
    margin-bottom: 7.3vw;
  }

  .timeline-timeline .social {
    margin-top: 8vw;
  }

  .timeline-timeline .social ul {
    margin-top: 4vw;
  }
  
  .timeline-timeline .social ul li:not(:last-child) {
    margin-left: 8vw;
  }

  .timeline-timeline .social img {
    width: 12.6vw;
    height: 12.6vw;
  }
}

/* #Timeline Footer
================================================== */
.timeline-footer {
  padding: 1.8vw 0 3.6vw 0;
}

.timeline-footer h2 {
  text-align: center;
  margin-bottom: 1vw;
}

.timeline-footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-footer ul li:not(:last-child) {
  margin-left: .75vw;
}

.timeline-footer ul img {
  width: 18.2vw;
}

@media (max-width: 1023.98px) {
  .timeline-footer {
    padding: 8vw 0 12.6vw 0;
  }

  .timeline-footer h2 {
    margin-bottom: 5.3vw;
  }

  .timeline-footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 84%;
    margin: 0 auto;
  }

  .timeline-footer ul li:not(:last-child) {
    margin-left: 0;
    margin-bottom: 2.5vw;
  }

  .timeline-footer ul img {
    width: 100%;
  }
}

/* #Terms / Privacy / Accessibility
================================================== */
.terms-page,
.privacy-page,
.accessibility-page {
  background-color: #eb2d2e;
  color: white;
  min-height: calc(100vh - 3.17vw);
  padding-top: 1.56vw;
}

.terms-page .container,
.privacy-page .container,
.accessibility-page .container {
  width: 46%;
}

.terms-page h1,
.privacy-page h1,
.accessibility-page h1 {
  text-align: center;
  margin-bottom: 1vw;
}

.terms-page p,
.privacy-page p,
.accessibility-page p {
  margin-bottom: 2.85vw;
}

@media (max-width: 1023.98px) {
  .terms-page,
  .privacy-page,
  .accessibility-page {
    min-height: calc(100vh - 13vw);
    padding-top: 10.6vw;
    padding-bottom: 10.6vw;
  }

  .terms-page .container,
  .privacy-page .container,
  .accessibility-page .container {
    width: 92%;
  }

  .terms-page h1,
  .privacy-page h1,
  .accessibility-page h1 {
    margin-bottom: 8.6vw;
  }

  .terms-page p,
  .privacy-page p,
  .accessibility-page p {
    margin-bottom: 13.3vw;
  }
}

/* #Visitors Center Banner
================================================== */
.visitors-center-banner {
  position: relative;
}

.visitors-center-banner .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.visitors-center-banner h1 {
  margin-bottom: .5vw;
}

.visitors-center-banner .img img,
.visitors-center-banner .img picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .visitors-center-banner .text {
    top: 60%;
    left: 50.5%;
  }
  
  .visitors-center-banner h1 {
    margin-bottom: 1vw;
  }
}

/* #Visitors Center Notice
================================================== */
.visitors-center-notice {
  line-height: 1;
  padding: 1.2vw 0;
}

.visitors-center-notice .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visitors-center-notice img {
  width: 2vw;
  margin-left: 1vw;
}

@media (max-width: 1023.98px) {
  .visitors-center-notice {
    padding: 4.4vw 0;
  }

  .visitors-center-notice img {
    width: 7.7vw;
    margin-left: 3vw;
  }
}

/* #Visitors Center Info
================================================== */
.visitors-center-info {
  background-color: #eb2d2e;
  color: white;
  padding: 1vw 0 1.5vw 0;
}

.visitors-center-info .container {
  width: 40%;
}

.visitors-center-info ul {
  display: flex;
  flex-wrap: wrap;
  margin: -1vw;
}

.visitors-center-info ul li {
  flex: 0 0 50%;
  padding: 1vw;
}

.visitors-center-info a {
  text-decoration: underline;
}

.visitors-center-info p:not(:last-child) {
  margin-bottom: 1vw;
}

@media (max-width: 1023.98px) {
  .visitors-center-info {
    padding: 4vw 0 6vw 0;
  }

  .visitors-center-info .container {
    width: 82%;
  }

  .visitors-center-info ul {
    display: block;
    margin: 0;
  }
  
  .visitors-center-info ul li {
    padding: 0;
  }

  .visitors-center-info ul li:not(:last-child) {
    margin-bottom: 4vw;
  }

  .visitors-center-info p:not(:last-child) {
    margin-bottom: 4vw;
  }
}

/* #Visitors Center FAQ
================================================== */
.visitors-center-faq {
  background-color: #eb2d2e;
  color: white;
  padding-bottom: 5vw;
}

.visitors-center-faq .container {
  width: 40%;
}

.visitors-center-faq h2 {
  margin-bottom: .5vw;
}

.visitors-center-faq li {
  border: 0.15vw solid white;
  transition: all .3s ease;
}

.visitors-center-faq li.faq-open {
  color: #eb2d2e;
  background-color: white;
}

.visitors-center-faq li:not(:last-child) {
  margin-bottom: 0.36vw;
}

.visitors-center-faq .collapse-toggler {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 0.25vw 0.5vw;
}

.visitors-center-faq .collapse-toggler .simbol {
  font-size: 3.2vw!important;
  line-height: 2vw;
  margin-left: 1vw;
}

.visitors-center-faq .collapse {
  padding: 0 0.5vw 0.25vw 0.5vw;
}

@media (max-width: 1023.98px) {
  .visitors-center-faq {
    padding-bottom: 12vw;
  }

  .visitors-center-faq .container {
    width: 82%;
  }

  .visitors-center-faq h2 {
    margin-bottom: 1vw;
  }

  .visitors-center-faq li {
    border: 0.4vw solid white;
    padding: 2vw 2.66vw 2vw 2vw;
  }
  
  .visitors-center-faq li:not(:last-child) {
    margin-bottom: 1.2vw;
  }

  .visitors-center-faq .collapse {
    padding-top: 2vw;
  }

  .visitors-center-faq .collapse-toggler .simbol {
    font-size: 11vw!important;
    line-height: 6vw;
    margin-left: 3vw;
  }
}

/* #DIY
================================================== */
.diy {
  background-image: url('../img/diy/diy-bg.jpg');
  background-position: top right;
  background-repeat: repeat;
}

.diy > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2vw 0 0 0;
  min-height: calc(100vh - 3.17vw);
}

.diy .container > h1,
.diy .container > p {
  text-align: center;
  line-height: 1;
}

.diy .container > h1 {
  margin-bottom: 2.3vw;
}

.diy .component-video-slider {
  background: transparent;
}

@media (max-width: 1023.98px) {
  .diy > .container {
    padding: 10vw 0 0 0;
    min-height: calc(100vh - 13vw);
  }

  .diy .container > h1 {
    margin-bottom: 5vw;
  }

  .diy .container > h1,
  .diy .container > p {
    text-align: right;
    padding-right: 4%;
  }
}

/* Navigation */
.diy-navigation {
  text-align: center;
  background-color: rgba(255, 255, 255, .8);
  margin-bottom: 2.2vw;
}

.diy-navigation .swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.diy-navigation .swiper-slide {
  border-bottom: .25vw solid transparent;
  cursor: pointer;
  width: auto !important;
  margin: 0 1vw;
}

.diy-navigation .swiper-slide a {
  padding: .5vw 0;
  display: block;
}

.diy-navigation .swiper-slide.active{
  color: black;
  border-color: #d72627;
}

@media (max-width: 1023.98px) {
  .diy-navigation {
    margin-bottom: 6vw;
  }

  .diy-navigation .swiper-wrapper {
    justify-content: flex-start; 
  }

  .diy-navigation .swiper-slide {
    border-bottom: 1vw solid transparent;
    margin: 0 3vw;
  }

  .diy-navigation .swiper-slide a {
    padding: 1.3vw 0;
  }
}

/* Videos */
.diy-videos {
  width: 50%;
  margin: 0 auto;
}

.diy-videos ul {
  display: flex;
  align-items: center;
  margin: 0 -1.4vw;
}

.diy-videos li {
  padding: 0 1.4vw;
}

.diy-videos li > div {
  position: relative;
}

.diy-videos li .bg,
.diy-videos li .bg img {
  width: 100%;
  border-radius: 1vw;
}

.diy-videos li .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.2vw;
  z-index: 2;
}

.diy-videos li .play img {
  width: 100%;
}

.diy-videos li .text {
  position: absolute;
  bottom: .5vw;
  right: .8vw;
  color: white;
}

.diy-videos li a {
  margin-bottom: .5vw;
}

.diy-videos .shadow-img {
  width: 100%;
  margin-top: .5vw;
}

@media (max-width: 1023.98px) {
  .diy-videos {
    width: 84%;
  }
  
  .diy-videos ul {
    display: block;
    margin: 0;
  }

  .diy-videos li {
    padding-left: 0;
    padding-right: 0;
  }

  .diy-videos li {
    margin-bottom: 2vw;
  }

  .diy-videos li .bg,
  .diy-videos li .bg img {
    border-radius: 2.6vw;
  }

  .diy-videos li .play {
    width: 13.3vw;
  }

  .diy-videos .shadow-img {
    margin-top: 1.33vw;
  }

  .diy-videos .btn {
    font-size: 3.33vw!important; /* 25px */
  }

  .diy-videos li .text {
    bottom: 1.5vw;
    right: 2vw;
  }
}

/* Article */
.diy-article {
  width: 35%;
  margin: 0 auto 1vw auto;
}

.diy-article h2 {
  margin: .75vw 0;
}

.diy-article-video > div {
  position: relative;
}

.diy-article-video .bg,
.diy-article-video .bg img {
  width: 100%;
  border-radius: 1vw;
}

.diy-article-video .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.2vw;
  z-index: 2;
}

.diy-article-video .play img {
  width: 100%;
}

.diy-article-video .shadow-img {
  width: 100%;
  margin-top: .5vw;
}

@media (max-width: 1023.98px) {
  .diy-article {
    width: 92%;
    margin-bottom: 0;
  }

  .diy-article h2 {
    margin: 2vw 0;
  }  

  .diy-article-video {
    margin-bottom: 1vw;
  }

  .diy-article-video .bg,
  .diy-article-video .bg img {
    border-radius: 2.6vw;
  }

  .diy-article-video .play {
    width: 13.3vw;
  }

  .diy-article-video .shadow-img {
    margin-top: 1.33vw;
  }
}

/* Footer */
.diy-footer {
  padding: 1.8vw 0 3.6vw 0;
  background-color: white;
  margin-top: auto;
}

.diy-footer h2 {
  text-align: center;
  margin-bottom: 1vw;
}

.diy-footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.diy-footer ul li:not(:last-child) {
  margin-left: .75vw;
}

.diy-footer ul img {
  width: 18.2vw;
}

@media (max-width: 1023.98px) {
  .diy-footer {
    padding: 8vw 0 12.6vw 0;
  }

  .diy-footer h2 {
    margin-bottom: 5.3vw;
  }

  .diy-footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 84%;
    margin: 0 auto;
  }

  .diy-footer ul li:not(:last-child) {
    margin-left: 0;
    margin-bottom: 2.5vw;
  }

  .diy-footer ul img {
    width: 100%;
  }
}

/* #Trivia
================================================== */
.trivia {
  min-height: calc(100vh - 3.17vw);
  background-color: #ce070a;
  color: white;
}

.trivia.trivia-final {
  min-height: 0!important;
  padding-bottom: 3.125vw;
}

.trivia .img {
  position: relative;
}

.trivia .img .trivia-num {
  position: absolute;
  top: 54.5%;
  left: 52.75%;
  transform: translate(-50%, -50%);
  font-size: 3.5vw;
  font-weight: 700;
  text-align: center;
  min-width: 7vw;
}

.trivia.trivia-final .img .trivia-num {
  left: 53.5%; 
}

.trivia .text {
  text-align: center;
  margin-top: -1vw;
  position: relative;
  z-index: 1;
}

.trivia h1 {
  margin-bottom: 1vw;
}

.trivia.trivia-final h1 {
  margin-bottom: .5vw;
}

.trivia-btns {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 20vw;
}

.trivia-btns a,
.trivia-btns button {
  padding: 1.35vw .8vw;
  border-radius: 1.56vw;
  font-size: 1.2vw!important;
}

.trivia-btns a:not(:last-child),
.trivia-btns button:not(:last-child) {
  margin-bottom: 0.7vw;
}

.trivia-social {
  text-align: center;
  margin-top: 1.7vw;
  margin-bottom: 2.5vw;
}

.trivia-social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .75vw;
}

.trivia-social ul li:not(:last-child) {
  margin-left: 1vw;
}

.trivia-social img {
  width: 1.77vw;
  height: 1.77vw;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .trivia {
    min-height: calc(100vh - 13vw);
  }

  .trivia.trivia-final {
    padding-bottom: 10vw;
  }

  .trivia .img .trivia-num {
    top: 55%;
    left: 60.5%;
    font-size: 12vw;
    min-width: 30vw;
  }

  .trivia.trivia-final .img .trivia-num {
    left: 62%;
  }

  .trivia h1 {
    margin-bottom: 2vw;
  }

  .trivia .text {
    margin-top: -10vw;
  }

  .trivia-btns {
    width: 84%;
  }

  .trivia-btns a,
  .trivia-btns button {
    padding: 5.7vw 2vw;
    font-size: 5vw!important;
    border-radius: 4vw;
  }

  .trivia-btns a:not(:last-child),
  .trivia-btns button:not(:last-child) {
    margin-bottom: 3vw;
  }

  .trivia-social {
    margin-top: 10vw;
    margin-bottom: 8vw;
  }

  .trivia-social ul {
    margin-top: 4vw;
  }
  
  .trivia-social ul li:not(:last-child) {
    margin-left: 6vw;
  }

  .trivia-social img {
    width: 9.3vw;
    height: 9.3vw;
  }
}

/* #Trivia Footer
================================================== */
.trivia-footer {
  padding: 1.8vw 0 3.6vw 0;
}

.trivia-footer h2 {
  text-align: center;
  margin-bottom: 1vw;
}

.trivia-footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trivia-footer ul li:not(:last-child) {
  margin-left: .75vw;
}

.trivia-footer ul img {
  width: 18.2vw;
}

@media (max-width: 1023.98px) {
  .trivia-footer {
    padding: 8vw 0 12.6vw 0;
  }

  .trivia-footer h2 {
    margin-bottom: 5.3vw;
  }

  .trivia-footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 84%;
    margin: 0 auto;
  }

  .trivia-footer ul li:not(:last-child) {
    margin-left: 0;
    margin-bottom: 2.5vw;
  }

  .trivia-footer ul img {
    width: 100%;
  }
}

/* #Questionaire
================================================== */
.questionaire {
  min-height: calc(100vh - 3.17vw);
  background-image: url('../img/questionaire/questionaire-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.questionaire .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.questionaire-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1.9vw;
}

.questionaire-header img {
  width: 10.9vw;
  margin-bottom: 1.5vw;
}

.questionaire-header h1 {
  margin-bottom: 2vw;
}

.questionaire-choose {
  line-height: 1;
  margin: 0 auto;
  width: 25%;
  border-radius: .5vw;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  overflow: hidden;
  background-color: white;
  margin-bottom: 3.1vw;
}

.questionaire-choose .top-bar {
  height: 0.67vw;
  border-bottom: 0.15vw solid #d73a41;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.questionaire-choose .top-bar::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 110%;
  background-color: #f00000;
}

.questionaire-choose ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5vw;
  background-color: white;
}

.questionaire-choose ul li {
  flex: 0 0 50%;
  padding: .65vw;
}

.questionaire-choose a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.questionaire-choose > a {
  padding: 1.5vw;
}

.questionaire-choose p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1;
  width: 80%;
}

.questionaire-choose ul li img {
  height: 11.45vw;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: .5vw;
}

.questionaire-footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw 0 4vw 0;
  margin-top: auto;
}

.questionaire-footer a:first-child {
  margin-left: 1vw;
}

.questionaire-footer img {
  width: 24vw;
}

@media (max-width: 1023.98px) {
  .questionaire {
    min-height: calc(100vh - 13vw);
    background-image: url('../img/questionaire/questionaire-bg-mobile.jpg');
  }

  .questionaire-header {
    padding-top: 6.66vw;
  }
  
  .questionaire-header img {
    width: 40vw;
    margin-bottom: 3.33vw;
  }
  
  .questionaire-header h1 {
    margin-bottom: 6.66vw;
  }

  .questionaire-choose {
    width: 77%;
    border-radius: 1.3vw;
    margin-bottom: 6vw;
  }

  .questionaire-choose .top-bar {
    height: 1.7vw;
    border-bottom: 0.4vw solid #d73a41;
  }

  .questionaire-choose ul {
    padding: 4.66vw;
  }
  
  .questionaire-choose ul li {
    padding: 2vw;
  }

  .questionaire-choose ul li img {
    height: 33.33vw;
    border-radius: 1.3vw;
  }

  .questionaire-footer {
    flex-direction: column;
    padding: 6.66vw 0;
  }
  
  .questionaire-footer a:first-child {
    margin-left: 0;
    margin-bottom: 4vw;
  }

  .questionaire-footer img {
    width: 84%;
    margin: 0 auto;
  }

  .questionaire-choose > a {
    padding: 6vw;
  }
  
}

/* #Post Card
================================================== */
.post-card {
  min-height: calc(100vh - 3.17vw);
  background-color: #ca1b21;
}

.post-card-banner {
  position: relative;
  color: white;
  text-align: center;
  line-height: 1;
}

.post-card-banner .img img,
.post-card-banner .img picture {
  width: 100%;
}

.post-card-banner .text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  top: 50%;
}

.post-card-banner.lg .text {
  top: 12%;
  transform: translateX(-50%);
}

@media (max-width: 1023.98px) {
  .post-card {
    min-height: calc(100vh - 13vw);
  }

  .post-card-banner .text {
    width: 90%;
  }

  .post-card-banner.lg .text {
    top: 12%;
    width: 90%;
  }
}

/* #Post Card Main
================================================== */
.post-card-main {
  width: 32%;
  margin: 0 auto;
  padding-top: 1.45vw;
}

.post-card-main > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: -.25vw;
}

.post-card-main a {
  flex: 0 0 48%;
  border-radius: 1.5vw;
  justify-content: space-between;
  padding: 1.2vw 0.8vw;
  margin: .25vw;
  font-size: 1.3vw!important;
}

@media (max-width: 1023.98px) {
  .post-card-main {
    width: 84%;
    padding: 4.66vw 0;
  }

  .post-card-main > div {
    margin: 0;
  }

  .post-card-main a {
    flex: 0 0 100%;
    border-radius: 4vw;
    margin: 0;
    margin-bottom: 2.66vw;
    padding: 6vw 4vw;
    font-size: 5.5vw !important;
  }

  .post-card-main a:last-child {
    margin: 0;
  }
}

/* #Post Card Steps
================================================== */
.post-card-steps ul {
  display: flex;
  justify-content: center;
  padding: 2vw 0;
}

.post-card-steps ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: .4;
}

.post-card-steps ul li:not(:last-child) {
  margin-left: 1.3vw;
}

.post-card-steps ul li.active {
  font-weight: 700;
  opacity: 1;
}

.post-card-steps ul li .num {
  color: black;
  background-color: white;
  border-radius: 50%;
  font-weight: 700;
  margin-left: .5vw;
  width: 1.3vw;
  height: 1.3vw;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70%;
}

@media (max-width: 1023.98px) {
  .post-card-steps ul {
    padding: 8vw 0 6vw 0;
  }

  .post-card-steps ul li:not(:last-child) {
    margin-left: 3vw;
  }

  .post-card-steps ul li .num {
    margin-left: 1.7vw;
    width: 4.4vw;
    height: 4.4vw;
  }
}

/* #Post Card Step
================================================== */
.post-card-step-1,
.post-card-step-2,
.post-card-step-3,
.post-card-step-4 {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2vw;
  overflow: hidden;
}

.post-card-step-1 h2,
.post-card-step-2 h2,
.post-card-step-3 h2,
.post-card-step-4 h2 {
  margin-bottom: 1.3vw;
}

.post-card-step-1 h2 a,
.post-card-step-2 h2 a,
.post-card-step-3 h2 a,
.post-card-step-4 h2 a {
  text-decoration: underline;
}

.post-card-step-1 form {
  width: 100%;
}

.post-card-step-1 .form-group {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.3vw;
}

.post-card-step-1 .form-group:last-child {
  margin-top: 3.75vw;
}

.post-card-step-1 input {
  width: 24.2vw;
  text-align: center;
  border: none;
  color: #eb2d2e;
  height: 3.75vw;
  border-radius: 500px;
  font-size: 1.3vw;
}

.post-card-step-1 input::placeholder {
  color: #eb2d2e;
}

@media (max-width: 1023.98px) {
  .post-card-step-1,
  .post-card-step-2,
  .post-card-step-3,
  .post-card-step-4 {
    padding-bottom: 5.3vw;
  }

  .post-card-step-1 h2,
  .post-card-step-2 h2,
  .post-card-step-3 h2,
  .post-card-step-4 h2 {
    margin-bottom: 4.6vw;
  }

  .post-card-step-1 input {
    width: 75%;
    height: 11.3vw;
    font-size: 4vw;
  }

  .post-card-step-1 .form-group {
    margin-bottom: 4.6vw;
  }
  
  .post-card-step-1 .form-group:last-child {
    margin-top: 12vw;
  }
}

/* #Post Card Step 3
================================================== */
.post-card-step-3 {
  width: 25%;
  margin: 0 auto;
  align-items: stretch;
  text-align: right!important;
}

.post-card-step-3 h2 {
  margin-bottom: 0;
}

.post-card-step-3 .text-area {
  width: 100%;
  margin-bottom: 2.35vw;
}

.post-card-step-3 .text-area p {
  border-bottom: 0.15vw solid white;
  height: 2.6vw;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.post-card-step-3 .btn-area {
  display: flex;
  flex-wrap: wrap;
  margin: -.15vw;
}

.post-card-step-3 .btn-area a {
  font-size: 1.2vw!important; /* 23px */
  font-weight: 400;
  flex-grow: 1;
  margin: .15vw;
}

.post-card-step-3 .text-center {
  margin-top: 2.8vw;
}

@media (max-width: 1023.98px) {
  .post-card-step-3 {
    width: 75%;
  }

  .post-card-step-3 .text-area {
    margin-bottom: 7.3vw;
  }
  
  .post-card-step-3 .text-area p {
    border-bottom: 0.4vw solid white;
    height: 8vw;
  }

  .post-card-step-3 .btn-area {
    margin: -.5vw;
  }

  .post-card-step-3 .btn-area a {
    font-size: 3.7vw!important;
    margin: .5vw;
  }

  .post-card-step-3 .text-center {
    margin-top: 8.6vw;
  }
}

/* #Post Card Swiper
================================================== */
.post-card-step-2 .swiper-container {
  width: 25.2vw;
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;
  margin-bottom: 2.35vw;
}

.post-card-step-2 .swiper-slide {
  padding: 10px 3.4vw;
}

.post-card-step-2 .swiper-slide > div {
  background-color: white;
  color: #eb2d2e;
  border: 0.67vw solid #eb2d2e;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  border-radius: 2.6vw;
  line-height: 1;
  padding: 10.4vw 0 1.5vw 0;
  position: relative;
  overflow: hidden;
}

.post-card-step-2 .name {
  background-color: #eb2d2e;
  color: white;
  position: absolute;
  top: 1vw;
  right: -4.5vw;
  width: 100%;
  transform: rotate(30deg);
  padding: .25vw 0;
}

.post-card-step-2 .swiper-container-rtl .swiper-button-next {
  left: 0;
}

.post-card-step-2 .swiper-container-rtl .swiper-button-prev {
  right: 0;
}

.post-card-step-2 .swiper-container-rtl .swiper-button-next::after {
  content: ">";
}

.post-card-step-2 .swiper-container-rtl .swiper-button-prev::after {
  content: "<";
}

.post-card-step-2 .swiper-button-next::after, 
.post-card-step-2 .swiper-button-prev::after {
  font-family: 'spacer', sans-serif;
  font-size: 2vw;
}

.post-card-step-2 .swiper-button-next, 
.post-card-step-2 .swiper-button-prev {
  width: 2.2vw;
  height: 2.2vw;
  margin-top: 0;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
  transform: translateY(-50%);
}

@media (max-width: 1023.98px) {
  .post-card-step-2 .swiper-container {
    width: 78vw;
    margin-bottom: 6vw;
  }

  .post-card-step-2 .swiper-slide {
    padding: 10px 10.75vw;
  }

  .post-card-step-2 .swiper-slide > div {
    border: 1.75vw solid #eb2d2e;
    border-radius: 2.6vw;
    padding: 33.3vw 0 5.33vw 0;
  }

  .post-card-step-2 .name {
    top: 3vw;
    right: -16vw;
    padding: .75vw 0;
  }

  .post-card-step-2 .swiper-button-next, 
  .post-card-step-2 .swiper-button-prev {
    width: 6.66vw;
    height: 6.66vw;
  }

  .post-card-step-2 .swiper-button-next::after, 
  .post-card-step-2 .swiper-button-prev::after {
    font-size: 8vw;
  }
}

/* #Post Card Step 4
================================================== */
.post-card-result {
  background-color: white;
  color: #eb2d2e;
  border: 0.67vw solid #eb2d2e;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  border-radius: 2.6vw;
  line-height: 1;
  padding: 8.5vw 0 1.5vw 0;
  position: relative;
  overflow: hidden;
  width: 29vw;
}

.post-card-result .name {
  background-color: #eb2d2e;
  color: white;
  position: absolute;
  top: 1vw;
  right: -9.5vw;
  width: 100%;
  transform: rotate(30deg);
  padding: .25vw 0;
}

.post-card-result .message {
  margin-top: 1vw;
}

.post-card-social {
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 3vw;
}

.post-card-social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .75vw;
  margin-bottom: 3.65vw;
}

.post-card-social ul li:not(:last-child) {
  margin-left: 1.8vw;
}

.post-card-social img {
  width: 3.125vw;
  height: 3.125vw;
  object-fit: contain;
  object-position: center;
}

.post-card-questionaire {
  width: 100%;
  position: relative;
}

.post-card-questionaire .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.post-card-questionaire .text img {
  width: 11.2vw;
  margin-bottom: 1vw;
}

.post-card-questionaire h2 {
  margin: 0;
}

.post-card-questionaire .text p {
  margin: 1vw 0 1.3vw 0;
}

.post-card-questionaire .img {
  width: 60%;
  margin: 0 auto;
}

.post-card-questionaire .img img {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .post-card-result {
    border: 1.75vw solid #eb2d2e;
    border-radius: 2.6vw;
    padding: 24vw 0 4vw 0;
    width: 84%;
  }

  .post-card-result .name {
    top: 3vw;
    right: -28vw;
    padding: .75vw 0;
  }

  .post-card-result .message {
    margin-top: 2.5vw;
  }

  .post-card-social {
    margin-top: 4.6vw;
    margin-bottom: 14.6vw;
  }
  
  .post-card-social ul {
    margin-top: 4.66vw;
    margin-bottom: 13vw;
  }
  
  .post-card-social ul li:not(:last-child) {
    margin-left: 6.66vw;
  }
  
  .post-card-social img {
    width: 12vw;
    height: 12vw;
  }
  
  .post-card-questionaire .text {
    top: 0;
    width: 100%;
  }
  
  .post-card-questionaire .text img {
    width: 48vw;
    margin-bottom: 4vw;
  }
  
  .post-card-questionaire .text p {
    margin: 4vw 0 6vw 0;
  }
  
  .post-card-questionaire .img {
    width: 200%;
    margin: 0 auto;
    transform: translateX(20%);
  }
}

/* #Component - Years
================================================== */
.component-years {
  position: relative;
}

.component-years .text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: white;
  transform: translate(-50%, -50%);
}

.component-years h3 {
  margin: 1vw 0;
}

.component-years .img,
.component-years .img img {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .component-years h3 {
    margin: 3.33vw 0 6vw 0;
  }

  .component-years .text {
    width: 100%;
  }
}

/* #Component - Video Slider
================================================== */
.component-video-slider {
  background-image: url('../img/global/video-slider-bg.jpg');
  background-position: top center;
  background-size: cover;
  padding: 2.35vw 0 3.125vw 0;
}

.component-video-slider .container > .text {
  text-align: center;
  line-height: 1;
  margin-bottom: 1.5vw;
}

.component-video-slider .swiper-container {
  padding-right: 2vw;
}

.component-video-slider .swiper-slide {
  padding-left: 2.6vw;
}

.component-video-slider .swiper-slide > div {
  position: relative;
}

.component-video-slider .swiper-slide .bg,
.component-video-slider .swiper-slide .bg img {
  width: 100%;
  border-radius: 1vw;
}

.component-video-slider .swiper-slide .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.2vw;
  z-index: 2;
}

.component-video-slider .swiper-slide .play img {
  width: 100%;
}

.component-video-slider .swiper-slide .text {
  position: absolute;
  bottom: .5vw;
  right: .8vw;
  color: white;
}

.component-video-slider .swiper-slide a {
  margin-bottom: .5vw;
}

.component-video-slider .shadow-img {
  width: 100%;
  margin-top: .5vw;
}

@media (max-width: 1023.98px) {
  .component-video-slider {
    padding: 10vw 4% 10vw 0;
  }

  .component-video-slider .container > .text {
    text-align: right;
    margin-bottom: 2.5vw;
  }

  .component-video-slider .swiper-container {
    padding-right: 0;
  }
  
  .component-video-slider .swiper-slide {
    padding-left: 6vw;
  }

  .component-video-slider .swiper-slide .bg,
  .component-video-slider .swiper-slide .bg img {
    border-radius: 2.6vw;
  }

  .component-video-slider .swiper-slide .play {
    width: 13.3vw;
  }

  .component-video-slider .shadow-img {
    margin-top: 1.33vw;
  }

  .component-video-slider .btn {
    font-size: 3.33vw!important; /* 25px */
  }

  .component-video-slider .swiper-slide .text {
    bottom: 1.5vw;
    right: 2vw;
  }
}